<!----------------------------------------------------------------------------------------------------------->
<!-- This Source Code Form is subject to the terms of the Mozilla Public                                   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this                                   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.                                              -->
<!----------------------------------------------------------------------------------------------------------->
<app-generator-card
  title="Timestamp Generator"
  (onGenerate)="generateTimestamp()"
  [toCopy]="timestamp()"
>
  <label class="label">
    <span class="label-text">Timestamp</span>
  </label>
  <input type="text" class="input" [ngModel]="timestamp()" disabled />
  <label class="label">
    <span class="label-text">Type</span>
  </label>
  <select class="select select-bordered" [ngModel]="type()" (ngModelChange)="type.set($event)">
    <option value="iso8601" selected>ISO8601</option>
    <option value="iso8601-no-separator">ISO8601 Without Separator</option>
    <option value="unix">Unix Timestamp</option>
  </select>

  <div class="separator"></div>
</app-generator-card>
