<app-container-card [title]="title">
  <ng-content></ng-content>

  <section class="action-btn-group">
    <input *ngIf="!noCopy" type="button" value="Copy" class="btn" (click)="onCopy()" />
    <input
      type="button"
      value="Generate"
      [ngClass]="{'longer-btn': noCopy}"
      class="btn btn-primary"
      [disabled]="disableGeneratorBtn"
      (click)="emitOnGenerate()"
    />
  </section>
  <div class="toast toast-bottom toast-center">
    <div class="alert alert-info toast-item">
      <div>Value copied to clipboard!</div>
    </div>
  </div>
</app-container-card>
