<!----------------------------------------------------------------------------------------------------------->
<!-- This Source Code Form is subject to the terms of the Mozilla Public                                   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this                                   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.                                              -->
<!----------------------------------------------------------------------------------------------------------->
<app-container-card [title]="title">
  <ng-content></ng-content>

  <section class="action-btn-group">
    <input *ngIf="!noCopy" type="button" value="Copy" class="btn" (click)="onCopy()" />
    <input
      type="button"
      value="Generate"
      [ngClass]="{'longer-btn': noCopy}"
      class="btn btn-primary"
      [disabled]="disableGeneratorBtn"
      (click)="emitOnGenerate()"
    />
  </section>
  <div class="toast toast-bottom toast-right">
    <div class="alert alert-info toast-item">
      <div>Value copied to clipboard!</div>
    </div>
  </div>
</app-container-card>
