<app-generator-card title="UUID Generator" (onGenerate)="genUUID()">
  <label class="label">
    <span class="label-text">UUID</span>
  </label>
  <input
    type="text"
    class="input input-bordered"
    [ngModel]="getGeneratedUUID()"
    disabled
  />
  <section class="uuid-options">
    <label class="label cursor-pointer justify-start">
      <input
        type="checkbox"
        class="toggle"
        [ngModel]="uppercased()"
        (ngModelChange)="uppercased.set($event)"
      />
      <span class="label-text text-left">Uppercase</span>
    </label>
    <label class="label cursor-pointer justify-start">
      <input
        type="checkbox"
        class="toggle"
        [ngModel]="guidStyle()"
        (ngModelChange)="guidStyle.set($event)"
      />
      <span class="label-text text-left">GUID style (with bracket)</span>
    </label>
  </section>
</app-generator-card>
