<app-container-card title="Link Shortener">
  <label class="label"><span class="label-text">Url to shorten</span></label>
  <input
    type="text"
    class="input input-bordered"
    placeholder="Enter URL to shorten here!"
    [ngModel]="originalLink()"
    (ngModelChange)="originalLink.set($event)"
  />

  <label class="label"><span class="label-text">Result</span></label>
  <input type="text" class="input input-bordered" disabled [ngModel]="shortenLink()" />

  <div class="action-btn-group">
    <input type="button" value="Copy" class="btn" (click)="onCopy()" />
    <input type="button" class="btn btn-primary" value="Shorten" (click)="onShorten()" />
  </div>
  <h6 class="powered-by">Powered by <a class="link" href="http://is.gd">is.gd</a></h6>

  <div class="toast toast-bottom toast-right">
    <div class="alert alert-info toast-item">
      <div>Value copied to clipboard!</div>
    </div>
  </div>
  <div class="toast toast-bottom toast-right">
    <div class="alert alert-error toast-item">
      <div>Ops! Something happened!</div>
    </div>
  </div>
</app-container-card>
