<!----------------------------------------------------------------------------------------------------------->
<!-- This Source Code Form is subject to the terms of the Mozilla Public                                   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this                                   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.                                              -->
<!----------------------------------------------------------------------------------------------------------->
<div class="site-logo-container">
  <i class="material-icons">home_repair_service</i>
  <h1>Developer Toolkit</h1>
</div>

<!-- Sidebar content here -->
<li app-menu-item icon="home" label="Home" link="/" [linkExactMatch]="true"></li>

<div class="divider"></div>
<li class="menu-title"><span>Generators</span></li>

@for (generator of generators(); track generator.link) {
<li
  app-menu-item
  [icon]="generator.icon"
  [label]="generator.label"
  [link]="buildTemplatedLink('generators', generator.link)"
></li>
}

<div class="divider"></div>
<li class="menu-title"><span>String Hasher</span></li>

@for (stringHash of stringHashs(); track stringHash.link) {
<li
  app-menu-item
  [icon]="stringHash.icon"
  [label]="stringHash.label"
  [link]="buildTemplatedLink('string-hash', stringHash.link)"
></li>
}

<div class="divider"></div>
<li class="menu-title"><span>Other Utilities</span></li>

@for (otherUtility of otherUtilities(); track otherUtility.link) {
<li
  app-menu-item
  [icon]="otherUtility.icon"
  [label]="otherUtility.label"
  [link]="buildTemplatedLink('utils', otherUtility.link)"
></li>
}

<div class="divider"></div>
<li class="menu-title">
  <span>Configurations</span>
</li>

<li app-menu-item link="/settings" label="Settings" icon="settings"></li>
