<div class="site-logo-container">
  <i class="material-icons">home_repair_service</i>
  <h1>Developer Toolkit</h1>
</div>

<!-- Sidebar content here -->
<li class="menu">
  <a
    [routerLink]="['/']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="material-icons">home</i>
    Home
  </a>
</li>

<div class="divider"></div>
<li class="menu-title"><span>Generators</span></li>

<li>
  <a [routerLink]="['/generators/uuid']" [routerLinkActive]="['active']">
    <i class="material-icons">label_important</i> UUID
  </a>
</li>

<li>
  <a [routerLink]="['/generators/timestamp']" [routerLinkActive]="['active']">
    <i class="material-icons">alarm</i> Timestamp
  </a>
</li>

<li>
  <a [routerLink]="['generators/char']" [routerLinkActive]="['active']">
    <i class="material-icons">abc</i> Character
  </a>
</li>

<li>
  <a [routerLink]="['generators/lorem-ipsum']" [routerLinkActive]="['active']">
    <i class="material-icons">segment</i> Lorem Ipsum
  </a>
</li>

<li>
  <a [routerLink]="['generators/barcode']" [routerLinkActive]="['active']">
    <i class="material-icons">qr_code</i> Barcode</a
  >
</li>

<div class="divider"></div>
<li class="menu-title"><span>String Hasher</span></li>
<li>
  <a [routerLink]="['string-hash/md5']" [routerLinkActive]="['active']"
    ><i class="material-icons">link</i> MD5</a
  >
</li>

<div class="divider"></div>
<li class="menu-title"><span>Other Utilities</span></li>

<li>
  <a [routerLink]="['utils/link-shortener']" [routerLinkActive]="['active']">
    <i class="material-icons">link</i> Link Shortener
  </a>
</li>

<div class="divider"></div>
<li class="menu-title">
  <span>Configurations</span>
</li>

<li>
  <a [routerLink]="['/settings']" [routerLinkActive]="['active']"
    ><i class="material-icons">settings</i> Settings</a
  >
</li>
