<div class="site-logo-container">
  <i class="material-icons">home_repair_service</i>
  <h1>Developer Toolkit</h1>
</div>

<!-- Sidebar content here -->
<li class="menu" [routerLinkActive]="['bordered']" [routerLinkActiveOptions]="{ exact: true }">
  <a [routerLink]="['/']">
    <i class="material-icons">home</i>
    Home
  </a>
</li>

<div class="divider"></div>
<li class="menu-title"><span>Generators</span></li>

<li [routerLinkActive]="['bordered']">
  <a [routerLink]="['/generators/uuid']"> <i class="material-icons">label_important</i> UUID </a>
</li>

<li [routerLinkActive]="['bordered']">
  <a [routerLink]="['/generators/timestamp']"> <i class="material-icons">alarm</i> Timestamp </a>
</li>

<li [routerLinkActive]="['bordered']">
  <a [routerLink]="['generators/char']"> <i class="material-icons">abc</i> Character </a>
</li>

<li [routerLinkActive]="['bordered']">
  <a [routerLink]="['generators/lorem-ipsum']">
    <i class="material-icons">segment</i> Lorem Ipsum
  </a>
</li>

<li [routerLinkActive]="['bordered']">
  <a [routerLink]="['generators/barcode']"> <i class="material-icons">qr_code</i> Barcode</a>
</li>

<div class="divider"></div>
<li class="menu-title"><span>Other Utilities</span></li>

<li>
  <a [routerLink]="['utils/link-shortener']"> <i class="material-icons">link</i> Link Shortener </a>
</li>

<div class="divider"></div>
<li class="menu-title">
  <span>Configurations</span>
</li>

<li [routerLinkActive]="['bordered']">
  <a [routerLink]="['/settings']"><i class="material-icons">settings</i> Settings</a>
</li>
