<mat-toolbar color="primary">
  <div class="nav-brand"><mat-icon>home_repair_service</mat-icon> Developer Toolkit</div>

  <div class="spacer"></div>

  <a href="https://github.com" mat-icon-button class="github-btn" tooltip="GitHub">
    <mat-icon fontSet="fa-brands" fontIcon="fa-github"></mat-icon>
  </a>
</mat-toolbar>
<!-- <nav class="main-navbar">
  <div class="navbar-container">
    <label for="sidebar-drawer" class="navbar-drawer-button">
      <i class="material-icons">menu</i>
    </label>
  </div>
  <div class="site-logo-container">
    <i class="material-icons">home_repair_service</i>
    <h1>Developer Toolkit</h1>
  </div>
  <ul class="navbar-link">
    <li>
      <a href="https://github.com/kelvinchin12070811/developer-toolkit">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
</nav> -->
