<nav class="navbar bg-base-200">
  <div class="p-2 lg:hidden">
    <label for="sidebar-drawer" class="btn btn-ghost drawer-button">
      <i class="material-icons text-3xl">menu</i>
    </label>
  </div>
  <div class="flex-1">
    <i class="material-icons text-4xl pr-2">home_repair_service</i>
    <h1 class="font-bold text-3xl">Developer Toolkit</h1>
  </div>
  <ul>
    <li>
      <a
        href="https://github.com/kelvinchin12070811/developer-toolkit"
        class="btn btn-ghost text-2xl"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
