<main class="main-container">
  <section class="card card-bordered gen-card">
    <div class="card-body">
      <h2 class="card-title">Random Character Generator</h2>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Characters</span>
        </label>
        <input type="text" class="input input-bordered" disabled />

        <div class="options-group">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle" />
            <span class="label-text text-left">Uppercase</span>
          </label>

          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle" />
            <span class="label-text text-left">Lowercase</span>
          </label>

          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle" />
            <span class="label-text text-left">Number</span>
          </label>

          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle" />
            <span class="label-text text-left">Symbol</span>
          </label>
        </div>

        <input type="button" value="Generate" class="btn" />
      </div>
    </div>
  </section>
</main>
