<!----------------------------------------------------------------------------------------------------------->
<!-- This Source Code Form is subject to the terms of the Mozilla Public                                   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this                                   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.                                              -->
<!----------------------------------------------------------------------------------------------------------->
<!-- <img [src]="barcode()" /> -->
<app-generator-card
  title="Barcode Generator"
  [noCopy]="true"
  (onGenerate)="generateBarcode()"
  [disableGeneratorBtn]="text().length <= 0"
>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Text</span>
    </label>
    <input
      type="text"
      class="input input-bordered"
      placeholder="Text to encode"
      [ngModel]="text()"
      (ngModelChange)="text.set($event)"
    />

    <label class="label"><span class="label-text">Barcode Type</span></label>
    <select
      class="select w-full select-bordered"
      [ngModel]="barcodeType()"
      (ngModelChange)="barcodeType.set($event)"
    >
      <option value="qrcode">QR Code</option>
      <option value="datamatrix">Data Matrix</option>
    </select>

    <section class="options-group">
      <div>
        <label class="label"><span class="label-text">Scale</span></label>
        <input
          type="number"
          class="input w-full"
          [ngModel]="scale()"
          (ngModelChange)="scale.set($event)"
        />
      </div>
      <div>
        <label class="label"><span class="label-text">Padding Size</span></label>
        <input
          type="number"
          class="input w-full"
          [ngModel]="paddingSize()"
          (ngModelChange)="paddingSize.set($event)"
        />
      </div>
      <div>
        <label class="label"><span class="label-text">Foreground Colour</span></label>
        <div class="barcode-background-input">
          <input
            type="color"
            [ngModel]="getBarcodeForegroundColorInHex()"
            (ngModelChange)="setBarcodeForeground($event)"
          />
          <div>#{{foregroundColour()}}</div>
        </div>
      </div>
      <div>
        <label class="label"><span class="label-text">Background Colour</span></label>
        <div class="barcode-background-input">
          <input
            type="color"
            [ngModel]="getBarcodeBackgroundColorInHex()"
            (ngModelChange)="setBarcodeBackground($event)"
          />
          <div>#{{barcodeBackground()}}</div>
        </div>
      </div>
    </section>

    <div
      class="card barcode-viewer"
      *ngIf="barcode() !== ''"
      (click)="openInNewTabOnClick()"
      title="Open barcode in new tab"
    >
      <img [src]="barcode()" />
    </div>
  </div>
</app-generator-card>
