<app-generator-card
  title="MD5 Hasher"
  [toCopy]="hash()"
  (onGenerate)="onGenerate()"
  [disableGeneratorBtn]="shouldGenerateBtnDisabled()"
>
  <label class="label">
    <span class="label-text">Text</span>
  </label>
  <input type="text" class="input" [ngModel]="text()" (ngModelChange)="text.set($event)" />

  <label class="label"><span class="label-text">Hash</span></label>
  <input type="text" class="input" [ngModel]="hash()" disabled />

  <label class="label cursor-pointer">
    <input
      type="checkbox"
      class="toggle"
      [ngModel]="uppercase()"
      (ngModelChange)="uppercase.set($event)"
    />
    <span class="label-text">Uppercase</span>
  </label>

  <div class="separator"></div>
</app-generator-card>
