<app-container-card title="Theme">
  <div class="form-control">
    <label class="label">Colour Themes</label>
    <select
      class="select select-bordered"
      [ngModel]="theme()"
      (ngModelChange)="theme.set($event)"
      (change)="onThemeChanged()"
    >
      <option disabled selected>Pick One</option>
      <option value="dracula">Dracula</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
      <option value="retro">Retro</option>
      <option value="kanagawa">Kanagawa</option>
    </select>
  </div>
</app-container-card>
