<main class="root-container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Themes</h2>

      <div class="form-control">
        <label class="label">Colour Themes</label>
        <select
          class="select select-bordered"
          [ngModel]="theme()"
          (ngModelChange)="theme.set($event)"
          (change)="onThemeChanged()"
        >
          <option disabled selected>Pick One</option>
          <option value="dracula">Dracula</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
          <option value="retro">Retro</option>
        </select>
      </div>
    </div>
  </div>
</main>
